<app-video-list
  [videos]="videoList | async"
  [selectedId]="(selectedVideo | async)?.id"
></app-video-list>
<app-video-player
  [video]="selectedVideo | async"
></app-video-player>
<app-stat-filters></app-stat-filters>
