<div *ngIf="video; else noneSelected" class="card">
  <div class="card-content">
    <h3>{{ video?.title }}</h3>
    <p>{{ video?.author }}</p>
  </div>
</div>

<ng-template #noneSelected>
  <h3>Please select a video!</h3>
</ng-template>
